body {
    box-sizing: border-box;
}

.work {
    float: left;
}

#contact {
    clear:both;
}

.port-card {
    margin-bottom: 10px;
  }



#clearfix{
    clear: both;
}

.gitlink a {
    color: navy;
    text-decoration-line: underline;
    
}

.work-card {
    background: lightgray;
    
}